html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: #b4ccee;
    background-image: url("./images/option4.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    min-height: 100vh;
    font-family: 'Source Code Pro', monospace;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 80vh;
    margin: 8vh 0 0 0;
    padding: 0;
}

div.calc-container {
    background-color: #ED9A31;
    background-image: url("./images/minimalist-monochromatic-blue-texture.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10%;
    width: 25rem;
    height: 32rem;
    padding: 2rem;
}

div.display {
    display: flex;
    flex-direction: column;
    background-color: #faebd7;
    border-radius: 10px;
    height: 6.25rem;
    margin: 0 0 1rem;
    padding: 1rem;
    font-size: 1.5rem;
}

div.display p {
    width: 100%;
    margin: 0;
}

div.display .display-text {
    word-break: break-all;
    min-height: 3rem;
    line-height: 1.1rem;
}

div.display .result-text {
    text-align: end;
}

button {
    height: 3.8rem;
    width: 4.8rem;
    background-color: #faebd7; 
    border-radius: 20%;
    border: none;
    font-family: 'Source Code Pro', monospace;
    font-size: 2rem;
    font-weight: 400;
    color: #2e1b02;
}

div.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: .5rem;
    height: 21rem; 
    /*  removing ^ this doesn't seem to change anything Q: what's holding button layout in place?*/
}

button.clear, button.backspace, button.equals {
    background-image: url("images/buttonbg.jpg");
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
}

button.equals {
    width: 10.1rem;
}

.footer {
    /* background-color: #ffb95046; */
    padding: 0 1rem 0 1rem;
    /* font-weight: bold; */
    margin: 0 0 0 0;
}

.footer p {
    text-align: end;
    margin: 0;
}

.footer a {
    color: #2e1b02;
}
